body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.categorias button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.categorias button:nth-child(1) {
    background-color: #E57373;
}

.categorias button:nth-child(2) {
    background-color: #FFD54F;
}

.categorias button:nth-child(3) {
    background-color: #64B5F6;
}

.categorias button:nth-child(4) {
    background-color: #C5CAE9;
}

.resultado {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.categoria {
    flex: 1;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.acoes {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#desfazer {
    background-color: #ffcc80;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#calculadora {
    position: absolute;
    top: 20px;
    right: 10%;
    background-color: #90CAF9;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#fruta {
    background-color: #ffebeb;
}

#laticinio {
    background-color: #fff4cc;
}

#frio {
    background-color: #e0f7ff;
}

#outros {
    background-color: #ebefff;
}

.verificado {
    text-decoration: line-through;
    opacity: 0.6;
    color: rgb(0, 88, 0);
}

#calculadora {
    margin-left: 15%;
    width: 15%;
    transition: all 1s ease;
}

#calculadora:hover {
    margin-left: 10%;
    width: 10%;
}
